body{
    padding-top: 70px; /* Needed when using navbar with class=fixed-top */
}

.foot {
    background-color:#e9ecef;
    color:#000000;
    font-size:14px;
    position: absolute;
    bottom: 10px;
}

label{
    width:150px;
}

.errorlist{
    color: rgb(200, 0, 0);
}

.logo {
    font-size: 40px;
    font-size: 4rem;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    background: url("/static/blog-logo.png") center center no-repeat;
    color: #FFF;
    display: block;
    float: left;
    font-weight: 700;
    margin: 10px;
    overflow: hidden;
    text-decoration: none;
    text-indent: 100%;
    width: 104px;
    height: 46px;
}