<footer class="container py-3">
    <div class="row bg-light py-3">
        <div class="col">
            <h3>Quick links</h3>
            <ul>
                <li><a href="{% url 'blog:home' %}">Home</a></li>
                <li><a href="{% url 'blog:index' %}">All posts</a></li>
                
            </ul>
        </div>
        <div class="col">
            <h3>About</h3>
            <ul>
                <p>This fantastic blog is made by five Django enthusiasts, who put together a lot of hard work and efford to make this thing running</p>
            </ul>
        </div>
    </div>

    <div class="row bg-light">

        <div class="col-sm-12 col-md-6">
            Template based on <a href="https://getbootstrap.com/docs/5.1/examples/blog" target="_blank">Bootstrap</a>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
            <a href="#">Back to top</a>
        </div>
        <div class="col text-center copyright">
            &copy; 2021 Team1 All Rights Reserved
        </div> 
    </div>
</footer>