{% extends "blog/base.html" %}

{% block title %}Index page{% endblock %}

{% block content %}

<div class="container">
{% for post in posts %}
    <article class="blog-post">
    <h2 class="blog-post-title"><a href="/blog/{{post.id}}">{{post.title}}</a></h2>

    <p class="blog-post-meta">
    <a href="/blog/category/{{post.category}}">{{ post.category|capfirst }}</a> / {{ post.created_at|date:"Y-m-d H:i"}} by <a href="/blog/user/{{post.author}}">{{post.author}}</a></p>
    </article>
    <hr />
{% endfor %}
</div>

{% endblock %}