{% extends "blog/base.html" %}
{% block page_title %}Post page{% endblock %}

{% block page_content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12"> 
            <h1>{{ post.title }}</h1>
            <p class="blog-post-meta">
            Created on {{ post.created_at|date:"Y-m-d H:i"}} by <a href="/blog/user/{{post.author}}">{{post.author}}</a> in <a href="/blog/category/{{post.category}}">{{ post.category|capfirst }}</a> <span>Visited {{post.visit}}</span> times
            </p>
            <hr/>    
            <p>{% autoescape off %}{{ post.body }}{% endautoescape %}</p>
        </div>    
    </div>
</div>

{% endblock %}




















