{% extends "blog/base.html" %}
{% block page_title %}Post page{% endblock %}

{% block page_content %}

    <div class="post-header pb-3">
        <h2>{{post.title}}</a></h2>
        <h6>Author: <i class="post-author"><a href="/blog/user/{{post.author}}">{{post.author}}</a></i></h5>    
        <h6>Posted: {{ post.created_at|date:"Y-m-d H:i"}} in <a href="/blog/category/{{post.category}}">{{ post.category|capfirst }}</a> <span>Visited {{post.visit}}</span> time(s)</h6>   
    </div>                      

    <div class="post-body">
        {% autoescape off %}{{post.body}}{% endautoescape %}
    </div>

{% endblock %}

